# Crawling

## Get data
- http://www.cgs.or.kr/business/esg_tab04.jsp
- 총 963개 기업 (비상장회사 포함)

In [6]:
import requests
from bs4 import BeautifulSoup

cols = ['name', 'code', 'rating', 'e', 's', 'g']
data = []

for n in range(6):
    col = []
    
    for page_num in range(1, 98):
        url = 'http://www.cgs.or.kr/business/esg_tab04.jsp?pg={}&pp=10&skey=&svalue=&sfyear=2020&styear=2020&sgtype=&sgrade=#ui_contents'.format(page_num)

        response = requests.get(url)

        if response.status_code == 200:
            html = response.text
            soup = BeautifulSoup(html, 'html.parser')

        else : 
            print(response.status_code)

        col += [_.text.strip() for _ in soup.select('tbody > tr > td:nth-of-type({})'.format(n+2))]
    data.append(col)

## To DataFrame

In [25]:
data_array = np.array(data).transpose()

In [28]:
import pandas as pd
import numpy as np

df = pd.DataFrame(data_array, columns=cols)
df

        name    code rating   e   s   g
0     AJ네트웍스  095570      B   D   B   B
1      AK홀딩스  006840     B+   C  B+  B+
2        BGF  027410     B+   B   A  B+
3     BGF리테일  282330      A  B+  B+   A
4    BNK금융지주  138930     A+  B+  A+  A+
..       ...     ...    ...  ..  ..  ..
958       휴젤  145020      C   C   C   B
959      휴켐스  069260      C   B  B+   C
960   흥국생명보험  818586                  B
961     흥국화재  000540      B   D   A   B
962     흥아해운  003280      D   D   C   D

[963 rows x 6 columns]

In [30]:
df.to_csv('rating_list.csv', header=True, index=False)

# 비상장회사 제외
- 제외 후 908개 기업

In [3]:
import pandas as pd

df = pd.read_csv('rating_list.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 963 entries, 0 to 962
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    963 non-null    object
 1   code    963 non-null    int64
 2   rating  908 non-null    object
 3   e       908 non-null    object
 4   s       908 non-null    object
 5   g       963 non-null    object
dtypes: int64(1), object(5)
memory usage: 45.3+ KB

In [11]:
df.loc[df['rating'].isnull()].shape

(55, 6)

In [13]:
new_df = df[~df['rating'].isnull()]
new_df

        name    code rating   e   s   g
0     AJ네트웍스   95570      B   D   B   B
1      AK홀딩스    6840     B+   C  B+  B+
2        BGF   27410     B+   B   A  B+
3     BGF리테일  282330      A  B+  B+   A
4    BNK금융지주  138930     A+  B+  A+  A+
..       ...     ...    ...  ..  ..  ..
957   휴온스글로벌   84110      B   D  B+   B
958       휴젤  145020      C   C   C   B
959      휴켐스   69260      C   B  B+   C
961     흥국화재     540      B   D   A   B
962     흥아해운    3280      D   D   C   D

[908 rows x 6 columns]

In [14]:
new_df.isnull().sum()

name      0
code      0
rating    0
e         0
s         0
g         0
dtype: int64

In [16]:
new_df.to_csv('rating_list2.csv', header=True, index=False)